@model Saphyr.Models.Gerente

@{
    ViewBag.Title = "Exibir Gerente";
}

<h2>Exibir Gerente</h2>

<div>
     <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>

    </dl>

    <h4>Shoppings</h4>
    <div style="height: 200px; overflow: auto;">
        <table class="table table-striped table-hover">
            <thead class="thead-default">
                <tr>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var shopping in ViewBag.Shoppings)
                {
                    <tr>
                        <td>
                            @shopping.Nome
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
